<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car/list.ejs</title>
</head>
<body>
    <h1>자동차 목록</h1>
    <%
    for(var car of carList) {
    %>
        <p><%=car.name %> <%=car.company %></p>
    <%
    } // end of for
    %>
</body>
</html>